USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 3/10/2021 9:16:01 AM ******/
CREATE DATABASE [QLSVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSVien.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSVien_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  StoredProcedure [dbo].[FindKetQuaByMaSV]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FindKetQuaByMaSV] 
	-- Add the parameters for the stored procedure here
	@MaSV int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT A.MAMH, A.DIEM as 'DIEM LAN 1', B.DIEM as 'DIEM LAN 2', (A.DIEM + B.DIEM)/2 AS 'DIEM TRUNG BINH'
FROM (SELECT A.MAMH, B.DIEM, A.HOCKI
		FROM dbo.HPHAN A, dbo.KQUA B
		WHERE A.MAHP = B.MAHP AND B.MASV = @MaSV) A,
		(SELECT A.MAMH, B.DIEM, A.HOCKI
		FROM dbo.HPHAN A, dbo.KQUA B
		WHERE A.MAHP = B.MAHP AND B.MASV = @MaSV) B
WHERE A.MAMH = B.MAMH AND A.HOCKI < B.HOCKI
END

GO
/****** Object:  Table [dbo].[HPHAN]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [varchar](12) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
 CONSTRAINT [PK__HPHAN__603F20DAAD72CAB1] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](50) NOT NULL,
	[TENKHOA] [varchar](30) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
 CONSTRAINT [PK__KHOA__22F4177089E92824] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [int] NOT NULL,
	[MAHP] [varchar](12) NOT NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK__KQUA__D621782550DB63E8] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MHOC]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](50) NULL,
 CONSTRAINT [PK__MHOC__603F69EB32557948] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SVIEN]    Script Date: 3/10/2021 9:16:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SVIEN](
	[MASV] [int] NOT NULL,
	[HOSV] [varchar](50) NULL,
	[TENSV] [varchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[MAKHOA] [varchar](50) NULL,
 CONSTRAINT [PK__SVIEN__60228A2818D553C9] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MAHP] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MAHP]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MASV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MASV]
GO
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [FK_SVIEN_KHOA]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [CK__KQUA__DIEM__1ED998B2] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [CK__KQUA__DIEM__1ED998B2]
GO
USE [master]
GO
